body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #222222;
    color: #eeeeee;
}

header {
    background-color: #111111;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #333333;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 5px 12px;
    display: inline-block;
}

nav a:hover {
    text-decoration: underline;
}

main {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: #2f2f2f;
}

h1,
h2,
h3 {
    color: #ffffff;
}

.button {
    background-color: #555555;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    display: inline-block;
}

.button:hover {
    background-color: #666666;
}

footer {
    text-align: center;
    padding: 15px;
    color: #eeeeee;
}

.product {
    background-color: #333333;
    border: 1px solid #555555;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    text-align: center;
}

.product:hover {
    box-shadow: 0 2px 5px #111111;
}

.product img {
    width: 200px;
    height: 200px;
    object-fit: contain;
    margin-bottom: 10px;
}

table {
    background-color: #333333;
    color: #eeeeee;
}

input,
textarea {
    background-color: #eeeeee;
    color: #222222;
}
